@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");
:root {
  --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  --color-primary: #EBD806;
  --color-secondary: #010001;
  --boton-padding: 20px 40px;
}

.container {
  width: 90%;
  margin: 0 auto;

  overflow: hidden;
  padding: 80px 0;
  max-width: 1200px;
}

body {
  font-family: "Raleway", sans-serif;
}

.avatar {
  height: 140px;
  width: 140px;
  clip-path: circle();
  margin: 0 auto;
}

.card {
  padding: 40px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-title {
  margin-top: -10px;
  text-align: center;
  font-size: 1em;
}

.subtitle {
  color: var(--color-primary);
  font-size: 3em;
  margin-bottom: 35px;
  text-align: center;
  font-weight: 600;
  -webkit-text-stroke: 0px black;
  font-family: "Montserrat", sans-serif;
}

.hero {

 height: 100vh;
  background-image: url(https://cdn.glitch.com/6bf05d86-2680-44b1-9897-670833e1d721%2Fbackground.jpg?v=1620786219132);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}


.hero .container {
  padding: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  font-weight: 600;
  align-items: center;
}

.nav--footer {
  justify-content: flex-start;
  font-weight: 300;
}

.nav__items {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  padding: 10px 15px;
  font-weight: inherit;
}

.nav__items:hover{
  color:rgba(255,255,255,0.8)
}

.nav__items--cta {
  border: 1px solid #fff;
  border-radius:10px;
  background:rgba(255,255,255,0.3)
}

.hero__container {
  display: flex;
  height: calc(100vh - 70px);
  align-items: center;
  color: #fff;
  width:300px;
}

.hero__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.hero__texts {
  width: 80%;
  margin-bottom: 50px;
}

.hero__title {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  -webkit-text-stroke: 1px yellow;
  color: yellow;
  
}
.hero__title:hover {
  
  color: transparent;
}

.hero__subtitle {
  font-size: 2rem;
  font-weight: 300;
  margin: 15px 0px;
  width:500px;
}

.about {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 80px;
}

.about__picture {
  width: 500px;
  max-width: 80%;
  border-radius: 10px;
}

.about__img {
  text-align: center;
}

.about__info {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}
.about {
  text-align: center;
}

.about__button{
  text-align: center;
  
}
.subtitle1 {
  color: var(--color-primary);
  font-size: 1.9em;
  margin-bottom: 35px;
  text-align: center;
  font-weight: 600;
  -webkit-text-stroke: 0px black;
  font-family: "Montserrat", sans-serif;
}


.sub-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
}

.badge {
  min-width: 100%;
}
.team {
  background: #f2f2f2;
  min-width: 100%;
}

footer {
  font-weight: 300;
}

.responsive-iframe {
  position: relative;
  padding-top: 56.25%;
}
.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.find-us {
  background: #f2f2f2;
  min-width: 100%;
}

form {
  /* Centrar el formulario en la página */
  margin: auto;
  width: 600px;
  background: rgba(0, 0, 0, 0.8);
  /* Esquema del formulario */
  padding: 1em;
  border: 2px solid #CCC;
  border-radius: 2em;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 100%;
  text-align: left;
  color: white;
}

input,
textarea {
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
     Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font-family: "Montserrat", sans-serif;
  width: 100%;
  border-radius: 5px;
  /* Tamaño uniforme del campo de texto */

  box-sizing: border-box;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
}

textarea:focus {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: #000;
}

textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;

  /* Proporcionar espacio para escribir texto */
  min-height: 150px;
  max-height: 300px;
}

ul {
  list-style: none;
  padding: 0;
  margin-right: 30px;
}

@media (max-width: 600px) {
  form {
    width: 95%;
  }
 
}



.decoration {
  text-decoration: none;
  color: black;
}

.img-project {
  height: 200x;
  width: 200px;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}

.project {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  background: #f2f2f2;
  min-width: 100%;
}

.project_picture {
   height: 200x;
  width: 200px;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}

.project__info {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-left: 100px;
}

.project__info1 {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-left: 80px;
}






.project1 {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 80px;
  text-align: center;
}

.project__texts1 {
  margin-right:-50px;
  position:relative;
  right:100px;
}

.project__texts {
  margin-left:0px;
  position:relative;
  text-align:center;
}

.project__picture { width: 500px;
  max-width: 80%;
  border-radius: 10px;}

.project__ilus{
 height:350px;
}
  

.gopic-iframe {
  
  background: #f2f2f2;
}

.gopic-iframe iframe {
  margin-bottom:50px;
  width:50%;
  position:relative;
 
}
.menu_bar{
  display:none;
}

/* Responsive */

@media screen and (max-width: 800px){
  .menu_bar .bt-menu:hover{
    color:rgb(141, 146, 141);
  }
  .menu_bar .bt-menu{   
    display:block;
    padding:10px;
    text-decoration:none;
    font-weight:bold;
    color:white;
    font-size:30px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    cursor: pointer;
  }
  .menu_bar{
  background: #212529;
    display:block;
    width:100%;
    position:fixed;
    z-index: 1;
  }
  header .nav{
    margin-top:65px;
    position:fixed;
    background: rgba(31, 30, 30, 0.918);
    width:100%;
    left:-100%;
    height:50%;
    font-weight: 600;
    z-index: 1;
  }
  
  .nav__items:hover{
    background-color: rgba(95, 91, 91, 0.63);
  }

.nav__items{
  display: flex;
  justify-content: center;
  align-items: center;
     font-weight:400;
     width:100%;  
     height: 20%;   
    border-top: #CCC 1px solid;
     font-size:1.3em;
     text-align:center;
     z-index: 1;
     margin-bottom:0px;
     margin-right: 0px;
     
  }
  .nav__items--cta{
    border:none;
    background:none;
    border-radius: 0;
  }
  .hero__title{ 
    font-size:2.5rem;
    margin-left:20px;
  }
  .hero__subtitle{
    font-size:1.5rem;
    margin-left:20px;
  }
  .about__texts{
    font-size:13px;
    width:100%;
  }
  .subtitle{
    font-size:24px;
  }
  .about__info{
    font-size:10px;
  }
  .card{
    margin-left:1px;
  }
  .sub-subtitle {
    font-size:1.2em;}

  .gopic-video {
    width:100%;
    height:100%;
    margin-top:-60px;
  }


  .project__info{
    font-size:10px;
    text-align: center;
    width:60%;
    position:relative;
    right:50px;
   
  }
  .project__picture{
    max-width:80%;
    max-height:80%;
    margin-bottom:10px;
    margin-top:50px;
    margin-right:-40px;
  }

  .project__info1{
    font-size:10px;
    text-align: center;
    width:70%;
    position:relative;
    left:10px;}

  .desarrollo{
    font-size:15px;
    right:100px;
  }
  .subtitle11{
    position:relative;
    left:50px;
  }
  
}

@media screen and (max-width: 700px){
  .hero {
  height: 80vh;
  background-attachment: local;
  background-image: url(https://cdn.glitch.com/6bf05d86-2680-44b1-9897-670833e1d721%2Fbackground.jpg?v=1620786219132);
}